.logins{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    .login{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .btn{
            width: 300px;
            height: 40px;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        .btn1{
             background-color: #008CBA; 
             color: white; 
             border: 2px solid #008CBA;
        }
        .btn1:hover{
            background-color: white;
            color: #008CBA;
        }
        .btn2{
             background-color: white; 
             color: black; 
             border: 2px solid #04AA6D;
        }
        .btn2:hover{
            background-color: #04AA6D;
            color: white;
        }


    }
}